@import url(color.css);
@import url(style.css);

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: inset 20px black;
}
main {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 0;
    gap: 50px;
}

.imagem {
    display: flex;
    height: 35rem;
    border: double  15px black;
    border-radius: 50px;
}

.cartao {
    display: flex;
    flex-direction: column;
    background-color: var(--cor-1);
    width: 405px;
    height: 320px;
    border: 5px ridge rgb(0, 0, 0);
    border-radius: 20px;
}

.cartao h2 {
    margin-bottom: 1rem;
    text-align: center;
}

.cartao input {
    margin-bottom: 1rem;
    color: var(--cor-3);
    height: 23px;
}
.cartao p {
    margin: 0px 5px 5px;
    color: white;
    font-size: larger;
}

input {
    text-align: center;
    margin: 7px;
    border: 4px inset black;
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.cartao button {
    background-color: var(--cor-2);
    cursor: pointer;
    height: 37px;
    margin: 0px 10px 1px 10px;
}

.resultado {
    margin-top: 5px;
    text-align: center;
}

.teste {
    color:  red;
    text-decoration: underline;
    font-size: larger;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}