body {
    font-family: Arial, sans-serif;
    background-color: #000000;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    width: 100rem;
    height: 45rem;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background: linear-gradient(180deg, rgba(0,15,36,0.9864320728291317) 0%, rgba(16,48,143,1) 0%, rgba(166,0,255,1) 80%);
}

h1 {
    text-align: center;
    color: #333;
    margin-top: 2rem;
}

p {
    line-height: 1.6;
    color: #43ff09;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-size: 2rem;
}

@media (max-width: 768px) {
    .container {
        width: 90%;
    }
}

img {
    border: 20px solid transparent;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    box-shadow: 0 0 0 5px #d4af37;
    -moz-box-shadow: 0 0 0 5px #d4af37;
    -webkit-box-shadow: 0 0 0 5px #d4af37;
    height:30%;
    max-width: 90%;
    align-self: center;
        display: block;
        margin: 0 auto;
    }